* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-image: url('fr.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  }
nav {
    display:flex;
    justify-content: space-around;
    align-items:center;
    min-height:8vh;
    font-family: 'Open Sans', sans-serif;
}
.logo {
     color: black;
     text-transform: uppercase;
     letter-spacing: 5px;
     font-size: 20px;

}
.nav-links{
    display:flex;
    justify-content:space-around;
    width: 40%;
    list-style:none;
   }
   .nav-lists li {
    list-style:none;
   }
.p2link {
    color: black;
    letter-spacing:3px;
    text-decoration:none;
    font-weight: bold;
    font-size: 14px;

}
#about {
    border-bottom: 2px solid black;
    color: black;
    letter-spacing:3px;
    text-decoration:none;
    font-weight: bold;
    font-size: 14px;
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div {
    height: 3px;
    width:25px;
    background-color:black;
    margin: 5px;
}
a {
    position: relative;
    color: black;
    text-decoration: none;
  }
  a:hover {
    color:  black;
  }
  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  .search-container{
      display: flex;
      justify-content: flex-end;
      height: 25px;
  }
  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .masoudName {
      border-bottom: 1px solid black;
      height: 80px;
      margin: 0 90px 0 90px;
     }
 .masoudName p {
    position: relative;
    font-family: pacifico;
    font-size: 3em;
    letter-spacing: 15px;
    overflow: hidden;
    margin: 30px 0 0 30px;
    background: linear-gradient(90deg,rgb(215, 228, 236),black,rgb(215, 228, 236));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 12s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color:rgba(255, 255, 255, 0);
  }
  .text {
    margin: 80px 90px 0 90px;
    height: 250px;
  }
  p {
    position: relative;
    font-family: 'Cormorant Garamond';
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 10px;
    overflow: hidden;
    margin: 30px 0 0 150px;
    color: white;
  }
  .footer {
    display:flex;
    justify-content: space-around;
    margin: 80px 90px 0 90px;
    align-items:center;
    min-height:8vh;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid black;
  }
  .footer-links{
    display:flex;
    justify-content:space-around;
    width: 40%;
    list-style:none;
    margin-left: 650px;
   }
   .footer-lists li {
    list-style:none;
   }
.footer-links a {
    color:black;
    letter-spacing:3px;
    text-decoration:none;
    font-weight: bold;
    font-size: 14px;
    
}

#github {
    border-right: none;
}
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

@media screen and (max-width:1076px){
    .nav-links{
   width: 60%;
    }
@media screen and (max-width:768px){
    body {
      overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right:0px;
        height: 92vh;
        top:8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;  
    }
}
    .nav-active {
        transform: translateX(0%);
    }
      @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
    
        }
    }
    